{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR Add Institute{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="project-header">
        <h1>iCMS - EPR Add Institute </h1>
    </div>

    <h3>
        Manage institutes
    </h3>

    <div class="confirm-field">
        <div class="form" id="selectedInstitutes">
        </div>
            <input type="hidden" id="instituteList" name="instituteList" value="" />
            <input type="submit" value="Confirm addition of selected institutes" />
        </form>
    </div>


    {{ wtf.quick_form(form) }}


</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>

<script language="JavaScript">
$(document).ready(function()
{
    $("#done").css('padding', '20p').hide();

    var selectedInstitutes = $('#selectedInstitutes');
    var instituteList = $('#instituteList');
    var uList = '';

    var table = $('#instituteTable').DataTable( {

        "ajax": "{{ url_for("api.allInstitutes") }}",
        // "deferRender": true,

        dom: 'lBfrtlip',
        select: {
            style: 'multi'
        },
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        buttons: [
            {
                text: 'Show selected institutes',
                action: function () {
                    var selRows = table.rows( { selected: true } );
                    var count = selRows.count();
                    var institutes = '';
                    for (r=0; r < selRows[0].length; r++) {
                        index = selRows[0][r];
                        row = table.row(index).data();
                        institutes = institutes + '<br/>Name: '+row[0];
                        if ( uList.indexOf(row[2]) == -1) {
                            uList = uList + row[2] + ","; // send back cmsId
                        }
                    };
                    selectedInstitutes.html( '<div>'+count+' row(s) selected'+institutes+'</div>' );
                    instituteList.val( uList );
                    $("#done").show();
                }
            }
        ],
        columns : [

            { data: 'institutename' },
            { data: 'name' },
            { data: 'cmsId' },
            { data: 'hrId' },
            { data: 'mainInst' },
            { data: 'authorReq' },
        ]
    } );

    //callback handler for form submit
    $("#done").submit(function(e)
    {
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.

        var postData = $(selected).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
        {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR)
            {
                alert(data);
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Error from server: "+textStatus);
            }
        });
    });

    $("#done").submit(); //Submit  the FORM

});
</script>
{% endblock %}
