{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR Manage Activity {% endblock %}

{% block page_content %}

<div class="page-header brick padded">

    Assets: 
    <!-- https://stackoverflow.com/questions/11922893/jinja2-and-json -->
    <div>
        <code>{
        {% for key, value in assets.items() recursive %}
        {% if value is mapping %}
        <p>
         {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {
        </p>
        {{ loop(value.items()) }}
        <p>
          {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}}
        </p>
        {% else %}
        <p>
          {% for it in range(loop.depth) %}&nbsp;&nbsp;{% endfor %}{{key}}: {{value}},
        </p>
        {% endif %}
        {% endfor %}
        }</code>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript">
    var csrftoken = "{{ csrf_token() }}"
</script>

<script language="JavaScript">
$(document).ready(function()
{

    $("#patCode").css('padding', '20p').hide();

});

</script>

{% endblock %}
