{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}

{% block title %}iCMS - EPR Change Institute {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Change Institute</h1>
</div>

<div id="events"></div>

<p>Change institute for user <b>{{ user.name }} (HR-ID: {{ user.hrId }})</b> from old institute <b> {{ oldInst.code }} </b> </p>

<form role="form" id="inst-selector" name="inst-selector" class="search-form" action="/manage/manageInstUsers/{{ oldInst.code }}">

    <div class="ui-widget">
        <label for="instSel">Select Institute: </label>
        <input id="instSel" name="instSel" />
    </div>

    <h4>New Institute:</h4>

    <div> Code: <b> <span id="instCode"> N/A </span> </b> </div>

    <div> Name: <b> <span id="instName"> N/A </span> </b> </div>

    <input type="submit" class="btn btn-info" value="Change Institute" id="selectButton" >

</form>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>


<script language="JavaScript">

function updateUserInst(selectedInst) {
    if ( selectedInst ) {
        // get the institute and update the #instId selection accordingly
        var url = "{{ url_for("api.instByCode", codeName=selectedInst) }}";
        var jqxhr = $.ajax( { url : url,
                              dataType: "json" } )
                          .done(function(msg) {
                              // console.log( msg );
                              // console.log( [msg.user.cmsId] );
                              $("#instCode").html( msg.inst.code );
                              $("#instName").html( msg.inst.name );
                              $("#log").html( msg );
                          })
                          .fail(function( jqXHR, textStatus ) {
                              alert( "error getting info for inst "+selectedInst+":"+textStatus);
                          })
                          .always(function(msg) {
        });
    }
};

$( "#instSel" ).autocomplete( {
     autoFocus: true,
     minLength: 3,
     source: '{{ url_for("api.searchInst") }}',
     method: "POST",
     select: function( event, ui ) {
                $("#instCode").html( ui.item.value );
                updateUserInst(ui.item.value);
              }
} );

$(document).ready(function() {

    $('#instSel').val('');
    $('#instSel').focus();


    $('#inst-selector').on( 'submit', function(e) {
        e.preventDefault();

        var data = $('instCode').serialize();
        $.ajax( {
                url: '{{ url_for("api.changeUserInst") }}',
                method : "POST",
                data: {
                    "year" : {{ session['year'] }},
                    "data" : data,
                    'cmsId' : {{ user.cmsId }},
                    'instCode' : $('#instCode').html()
                },
        })
        .done(function(data, textStatus, jqXHR) {

              if (data.status != 'success') {
                  alert( "error updating user info ... "+data.status+' - '+data.msg );
              }
              var oldInstCode = "{{ oldInst.code }}";
              window.location.href = "{{ url_for('manage.manageInstUsers', code=oldInstCode) }}";
        })
        .fail(function(data, textStatus, jqXHR) {
            alert( "error updating user info ... "+data.status+' - '+data.msg );
        });

        return false;
    } );



});
</script>

{% endblock %}
