{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Manage {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Manage Projects</h1>
</div>

<div>
    {% if projects %}
    <ul>
    {% for p in projects %}
        <li><a href="{{ url_for('manage.project', code=p.code) }}"> {{ p.name }} </a> - {{ p.description }}</li>
    {%  endfor %}
    </ul>
    {% else %}
    No projects defined yet.
    {%  endif %}
</div>

{% if current_user.is_administrator() %}
<div>
    <br/>
    <form action="{{ url_for('main.newProject') }}" method="get">
        <input type="submit" value="Add Project" />
    </form>
</div>
{% endif %}

<div class="page-header">
    <h1>Manage Activities</h1>
</div>

<div>
    {% if activities %}
    <ul>
    {% for a in activities %}
        <li><a href="{{ url_for('manage.activity', code=a.code) }}"> {{ a.name }} </a> - {{ a.description }}</li>
    {%  endfor %}
    </ul>
    {% else %}
    No activities defined yet.
    {%  endif %}
</div>

{% if current_user.is_administrator() %}
<div>
    <br/>
    <form action="{{ url_for('main.newActivity', projCode='') }}" method="get">
        <input type="submit" value="Add Activity" />
    </form>
</div>
{%  endif %}

<div class="page-header">
    <h1>Manage Tasks</h1>
</div>

<div>
    {% if tasks %}
    <ul>
    {% for t in tasks %}
        <li><a href="{{ url_for('manage.task', code=t.code) }}"> {{ t.name }} </a> - {{ t.description }}</li>
    {%  endfor %}
    </ul>
    {% else %}
    No tasks defined yet.
    {%  endif %}
</div>

{% if current_user.is_administrator() %}
<div>
    <br/>
    <form action="{{ url_for('main.newTask', actCode='') }}" method="get">
        <input type="submit" value="Add Task" />
    </form>
</div>
{%  endif %}

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
