{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css">

{% endblock %}

{% block title %}iCMS - EPR Management {% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="project-header">
        <h1>iCMS - EPR Management </h1>
    </div>

    <h3>
        Add an eGroup as manager to {{ what }} {{ patName }}
    </h3>

    <div class="brick padded">
        {% if what == 'project' %}
        <form id="done"  name="done" action="{{ url_for('manage.projectMgr') }}" method="post" >
        {% elif what == 'activity' %}
        <form id="done"  name="done" action="{{ url_for('manage.activityMgr') }}" method="post" >
        {% elif what == 'task' %}
        <form id="done"  name="done" action="{{ url_for('manage.taskMgr') }}" method="post" >
        {% endif %}
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input type="hidden" name="patType" id="patType" value="{{ what }}" />
            <input type="hidden" name="patCode" id="patCode" value="{{ patCode }}" />
            <input type=text id="eGroup" name="eGroup" value="" placeholder="eGroup name"/>
            <input type="submit" value="Confirm selected eGroup as managers for {{what}} {{ patName }}" />
        </form>
    </div>


</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function()
{

    function get(name){
        if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }

    // $("#done").css('padding', '20p').hide();

    var selectedUsers = $('#selectedUsers');
    var userList = $('#userList');
    var uList = '';


});
</script>
{% endblock %}
