{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Manage {% endblock %}

{% block page_content %}

    {% if projects %}
        <div class="page-header">
            <h1>Projects you can manage</h1>
        </div>

        <div>
            <ul>
                {% for p in projects %}
                    <li><a href="{{ url_for('manage.project', code=p.code) }}"> {{ p.name }} </a> - {{ p.description }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if current_user.is_administrator() %}
        <div>
            <br/>
            <form action="{{ url_for('main.newProject') }}" method="get">
                <input type="submit" value="Add Project"/>
            </form>
        </div>
    {% endif %}

    {% if activities %}
        <div class="page-header">
            <h1>Activities you can manage</h1>
        </div>

        <div>
            {% for pCode in activities %}
                Project {{ pMap[pCode].name }}
                <ul>
                    {% for a in activities[pCode] %}
                        <li><a href="{{ url_for('manage.activity', code=a.code) }}"> {{ a.name }} </a>
                            - {{ a.description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endif %}

    {% if tasks %}
        <div class="page-header">
            <h1>Tasks you can manage</h1>
        </div>

        <div>
            <ul>
                {% for t in tasks %}
                    <li><a href="{{ url_for('manage.task', code=t.code) }}"> {{ t.name }} </a> - {{ t.description }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if institutes %}
        <div class="page-header">
            <h1>Institutes you can manage</h1>
        </div>

        <div>
            <ul>
                {% for i in institutes %}
                    <li><a href="{{ url_for('manage.manageInstUsers', code=i.code) }}"> {{ i.code }}</a> - {{ i.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
