{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Manage Pledge {% endblock %}

{% block page_content %}

{% if not pledge %} pledge = {{ item }} {% endif %}

<div class="page-header">
    <div class="pledge-header">
        <h1> Pledge {{ info.taskName }} {{ info.userName }} {{ info.instName }} </h1>

        {% macro pledgeName(code) -%}
        <input type="hidden" name="pledge" value="{{ code }}" />
        {%- endmacro %}

    </div>
    <div class="project-body">

    </div>
</div>

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
