{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Manage Project {% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="project-header">
        <h1>Project {{ project.name }} in {{ project.year }}</h1>
        <p>
        {% macro projectName(name) -%}
        <input type="hidden" name="project" value="{{ name }}" />
        {%- endmacro %}

        <h2>Description: </h2> <h4> {{ project.description|safe }} <br/> </h4>

        </p>
    </div>
    <div class="brick padded">
        <p>
        <div class="form">
            {% if current_user.canManage('project', project.code, year=session['year']) or current_user.is_administrator() %}
                {% if form %}
                    {{ wtf.quick_form(form) }}
                {% endif %}
            {% endif %}
            <br />
        </div>
        </p>

        <p>
            {% if project.activities %}
            <h3>Activities for project {{ project.name }}</h3>
            <ol>
            {% for a in project.activities %}
                {% if a.status == 'ACTIVE' %}
                <li> <a href="{{ url_for('manage.activity', code=a.code) }}">{{ a.name }}</a> : {{ a.description }} </li>
                {% endif %}
            {% endfor %}
            </ol>
        {% endif %}
        </p>

        {% if current_user.canManage('project', project.code, year=session['year']) or current_user.is_administrator() %}
        <div>
            <br/>
            <form action="{{ url_for('main.newActivity', projCode='%s' % project.code ) }}" method="get">
                <input type="submit" value="Add Activity" />
            </form>
        </div>
        {%  endif %}

    </div>
</div>

{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">
$(document).ready(function()
{

    $("#patCode").css('padding', '20p').hide();

});
</script>


{% endblock %}
