<ul class="projects">
    {% for project in projects %}
    <li class="project">
        <div class="project-content">
            <div class="project-date">Created on {{project.timestamp}} ({{ moment(project.timestamp).fromNow() }})</div>
            <div class="project-body">
                {{ project }}
            </div>
            <div class="project-footer">
                {% if current_user.is_administrator() %}
                <a href="{{ url_for('.project', id=project.id) }}">
                    <span class="label label-primary">Edit project info</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
