<ul class="tasks">
    {% for task in tasks %}
    <li class="task">
        <div class="task-content">
            <div class="task-date">Created on {{task.timestamp}} ({{ moment(task.timestamp).fromNow() }})</div>
            <div class="task-body">
                {{ task }}
            </div>
            <div class="task-footer">
                {% if current_user.is_administrator() %}
                <a href="{{ url_for('.task', id=task.id) }}">
                    <span class="label label-primary">Edit task info</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>