{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}iCMS - EPR{% endblock %}

{% block head %}
    {{ super() }}

    <meta charset="utf-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.css') }}">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
<!--
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
-->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-submenu-2.0.0/css/bootstrap-submenu.min.css') }}">

    <!-- This should be last to allow overwriting of other styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    {% if navInfo and not navInfo.level.startswith('prod') %}
    <!-- include changes for the non-production version(s) -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nonProd.css') }}">
    {% endif %}

    <script type="text/javascript">
        var $SCRIPT_ROOT = '{{ request.script_root }}';
        var $CSP_PER_AUTHOR =  {% if navInfo %} {{ navInfo.cspPerAuthor }} {% else %} -1. {% endif %};
    </script>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
               &nbsp; iCMS - EPR
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Year ({{ session['year'] }})<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for y in range(2015,2022) %}
                            <li><a href="{{ url_for('main.setYear', selYear="%d" % y) }}">
                                {%  if y == session['year'] %} <b> {% endif %}
                                {{ y }}
                                {%  if y == session['year'] %} </b> {% endif %}
                            </a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" id="pledges-dropdown">Pledges<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.showMine') }}">My Pledges</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('main.showMyInstPledges') }}">My Institute's Pledges</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('main.show') }}">All Pledges of all CMS members (takes some time)</a></li>
                        <li class="divider"></li>
                        {% if g.navInfo %}
                            <li class="divider"></li>
                            {% for p in g.navInfo.proj %}
                                <li><a href="{{ url_for('main.showProject', id=p.id) }}">Pledges for project {{ p.name }}</a></li>
                            {% endfor %}
                            {% if g.navInfo.managesTasks %}
                                <li class="divider"></li>
                                <li><a href="{{ url_for('main.showManagedPledges') }}">Pledges for Tasks I manage</a></li>
                            {%endif %}
                        {% elif navInfo %}
                            {% for p in navInfo.proj %}
                                <li><a href="{{ url_for('main.showProject', id=p.id) }}">Pledges for project {{ p.name }}</a></li>
                            {% endfor %}
                            {% if navInfo.managesTasks %}
                                <li class="divider"></li>
                                <li><a href="{{ url_for('main.showManagedPledges') }}">Pledges for Tasks I manage</a></li>
                            {%endif %}
                        {%endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" id="tasks-dropdown">Tasks<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if navInfo %}
                        {% for p in navInfo.proj %}
                        <li><a href="{{ url_for('main.showProjectTasks', id=p.id) }}">Tasks for project {{ p.name }}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="{{ url_for('main.showProjectTasks', id=0) }}">Tasks/Activities/Projects Summaries</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('main.showShifts') }}">Show Shifts</a></li>
                        {%endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-submenu  id="institutes-dropdown">Institutes<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.showMyInst') }}">My Institute</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('main.showInstitutes') }}">Overview Of All Institutes</a></li>
                        <li class="divider"></li>
                        {% if navInfo %}
                        {{ navInfo.countryInstMenu | safe }}
                        {%endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" id="countries-dropdown">Countries<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.showMyCountry') }}">My Country</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('main.showCountries') }}">Overview Of All Countries</a></li>
                        <li class="divider"></li>
                        {% if navInfo %}
                        {{ navInfo.countryMenu | safe }}
                        {%endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('main.makeNewPledge') }}">New Pledge</a></li>
                <!-- Manage - if user is allowed -->
                {% if current_user.isManager('all',session['year']) or current_user.is_administrator() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Manage <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.is_administrator() or
                              current_user.isManager(mgtType='institute',year=session['year']) or
                              current_user.isManager(mgtType='project',year=session['year']) %}
                            <li><a href="{{ url_for('main.newInstRespPledge') }}">New InstResp Pledge</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('manage.index') }}">Manage</a></li>
                        <li><a href="{{ url_for('main.newActivity', projCode='None') }}">New activity</a></li>
                        <li><a href="{{ url_for('main.newTask', actCode='None') }}">New task</a></li>
                        {% if current_user.is_administrator() or current_user.isManager(mgtType='project',year=session['year']) %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('manage.mapShiftsToTasks') }}">Map Shifts to Tasks</a></li>
                            <li><a href="{{ url_for('manage.shiftWeightScales') }}">Set weight-scales for Shifts</a></li>
                        {% endif %}
                        {% if current_user.is_administrator() %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('manage.full') }}">Manage all</a></li>
                            <li><a href="{{ url_for('main.listAll') }}">List</a></li>
                            <li><a href="{{ url_for('manage.addUser') }}">Add User</a></li>
                            <li><a href="{{ url_for('manage.editUser') }}">Edit User</a></li>
                            <li><a href="{{ url_for('manage.addInstitute') }}">Add Institute</a></li>
                            <li class="divider"></li>
                        {% endif %}
                        {% if current_user.is_wizard() %}
                            <li><a href="{{ url_for('main.listAll') }}">List</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <!-- end of manage links -->

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Documentation<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.faq') }}">Frequently Asked Questions - FAQ</a></li>
                        <li class="divider"></li>
                        <li>External links:</li>
                        <li> &nbsp;&nbsp;&nbsp; <span> EPR User Guide: 
                                <a href="https://cms-docdb.cern.ch/cgi-bin/DocDB/ShowDocument?docid=12808" target="_blank">docDB version</a> 
                                <!-- -- <a href="https://icms.cern.ch/docs/iCMS-EPR/userGuide/" target="_blank">online version</a>  -->
                            </span>
                        </li>
                        <li> &nbsp;&nbsp;&nbsp; <span> <a href="https://twiki.cern.ch/twiki/bin/viewauth/CMS/CentralShifts{{ session['year'] }}" target="_blank">Information on Central Shifts in {{ session['year'] }}</a> </span></li>
                        <li> &nbsp;&nbsp;&nbsp; <span> <a href="https://twiki.cern.ch/twiki/bin/viewauth/CMS/CentralShifts{{ session['year'] }}#Central_credit_accounting" target="_blank">Shift accounting in EPR {{ session['year'] }}</a></span> </li>

                        <li class="divider"></li>
                        <li><a href="https://icms.cern.ch/icms/EPR-EngagementOffice-latest.pdf">The 2021 updates on EPR in CMS by the Engagement Office</a></li>
                        <li><a href="https://indico.cern.ch/event/464425/contribution/4/attachments/1197295/1753466/EPR_recommendations_v9.pdf" target="_blank">Recommendations and Guidelines from the EPR Review Group</a></li>
                        <li><a href="https://cms-docdb.cern.ch/cgi-bin/DocDB/ShowDocument?docid=12575" target="_blank">CMS authorship and EPR decision workflow</a></li>
                    </ul>
                </li>

                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.showFavourites') }}">Favourites</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        {% if current_user.is_wizard() %}
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.loginAs') }}">Login As ...</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %} <!-- navbar -->

{% block content %}
<div class="container">
    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["warning"]) %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["message"]) %}
        {% if 'Please log in to access this page.' not in message %}
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <div id="news" class="news">
        {% if navInfo and not navInfo.level.startswith('prod') %}
            <h3 class="red"><em>This is not the production version, all changes will be discarded.</em></h3>
        {% endif %}

        {% if navInfo and navInfo.announcements %}
            {% for piece in navInfo.announcements %}
                {% set color = 'warn' in piece.type.lower() and 'red' or 'black' %}
                {% set bgcolor = 'warn' in piece.type.lower() and 'lightyellow' or 'lightgreen' %}
                <div class="brick padded news" id="announcements" style="width: 100%; background-color: {{ bgcolor }}; color: {{ color }};">
                    <h4>{{piece.subject}}</h4>
                    <p>
                    {{piece.content | safe}}
                    </p>
                </div>
            {% endfor %}
        {% endif %}

        <h4>
            The iCMS-EPR User Guide is available <a href="https://cms-docdb.cern.ch/cgi-bin/DocDB/ShowDocument?docid=12808" target="_blank">here</a>.
        </h4>
        <p>If you want to get informed about updates/outages of this service, please subscribe to the
            <a href="https://e-groups.cern.ch/e-groups/EgroupsSearch.do?searchValue=icms-announce">icms-announce eGroup</a>
            (just click on the link, then click on the "subscribe" button - subscription will need approval, so it's not immediate, sorry).
        </p>
    </div>

    <div id="info" class="info">
        {% if navInfo and navInfo.infoText %}
            {{ navInfo.infoText | safe }}
        {% endif %}
    </div>

    {% block page_content %}{% endblock %}
    <div id="loading-time"> </div>

</div>

<div class="col-md-12">
    <footer>
        <hr />
        <div align="left" class="footer-left">
            Contact information: <a href="mailto:icms-support@cern.ch">icms-support@cern.ch</a>.
        </div>
        {% if (navInfo and navInfo.gitInfo) %}
        <div align="centre" >{{ navInfo.gitInfo }}</div>
        {% endif %}
        <div align="right" class="footer-right">
            <button id="reportIssue" name="reportIssue">Report an issue</button>
        </div>
        <div class="page-footer">
        {% if current_user.is_administrator() %}
        <p>user is admin</p>
        {% endif %}
        {% if current_user.is_wizard() %}
        <p>user is wizard</p>
        {% endif %}
        </div>

    </footer>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

<script src="{{ url_for('static', filename='jquery.confirm.min.js') }}"></script>

<!-- jquery 1.11.3 already included in parent -->
{#<script type="text/javascript" charset="utf8" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.js') }}"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.0/js/dataTables.fixedHeader.min.js"></script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.colVis.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.11/api/sum().js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='bootstrap-submenu-2.0.0/js/bootstrap-submenu.min.js') }}"></script>

<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<!-- CMS EPR scripts -->
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>

<script type="text/javascript">
    var csrftoken = "{{ csrf_token() }}";
</script>


<script language="JavaScript">

// default settings for all DataTables:
$.extend( true, $.fn.dataTable.defaults, {
        fixedHeader: {
            header: true,
            // footer: true
        }
} );

$(document).ready(function() {


    // issue collector for iCMS-EPR from JIRA:
    // Requires jQuery!
    jQuery.ajax({
        url: "https://its.cern.ch/jira/s/32b7cc9fc9e5ae832380d32ba40f253f-T/-ed8qqe/710003/1d55dbd34e10bce6df51d8250ee754f7/2.0.30/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?locale=en-US&collectorId=bb8c58ee",
        type: "get",
        cache: true,
        dataType: "script"
    });

     window.ATL_JQ_PAGE_PROPS =  {
        "triggerFunction": function(showCollectorDialog) {
            //Requires that jQuery is available!
            jQuery("#reportIssue").click(function(e) {
                e.preventDefault();
                showCollectorDialog();
            });
        }};




    // enable sub-menus for the country-institute lists in the menubar
    $('[data-submenu]').submenupicker();

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
        }
    });

    $(document).ajaxStart(function() {
        $(document.body).css({'cursor' : 'wait'});
    }).ajaxStop(function() {
        $(document.body).css({'cursor' : 'default'});
    });

});
</script>

{% endblock %}
