{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}

{% block title %}iCMS-EPR - Frequently Asked Questions{% endblock %}

{% block page_content %}


<div>
    <h2> Frequently Asked Questions </h2>

    <div id="accordion" class="brick padded accordion">


        <h3 class="ui-accordion-header">
            Why does my team have members which need to provide more than 4 months of work ?
        </h3>
        <div class="ui-accordion-content">
            Please have a look at <a href="https://icms.docs.cern.ch/epr.work.due/" target="_blank"> https://icms.docs.cern.ch/epr.work.due/ </a>
        </div>


        <h3 class="ui-accordion-header">
            I changed institute, what do I need to do now ?
        </h3>
        <div class="ui-accordion-content">
            <p>
                The following steps are needed to make sure that the work you did for
                your previous and the new institute is properly attributed to them.
            </p>
            <p>
                Contact the project admins of the project(s) where you have pledges and ask
                them to "close" the pledges you have, setting the "Work Done" of the pledges
                to the correct value and the status to "Done".
            </p>
            <p>
                Make sure your status in the iCMS-EPR tool is already updated so your new
                institute shows up. The synchronisation from the main iCMS tool may take a
                few hours to take effect.
            </p>
            <p>
                Once you see that you are listed with the new
                institute, simply create new pledges for the tasks you want.
            </p>
        </div>

        <h3 class="ui-accordion-header">
            Why can I not pledge for task XYZ ?
        </h3>
        <div class="ui-accordion-content">
            Tasks which are in fact (official) shifts can not be pledged for, the “pledges” for shifts
            are taken/updated from the shift tool in cmsonline.
        </div>

        <h3 class="ui-accordion-header">
            But I am project manager and we need some non-official "shifts" for task XYZ which
            will not be in the shift tool - what can I do ?
        </h3>
        <div class="ui-accordion-content">
            If there is a task for shifts (or shift-like operations) which are not managed by
            the shift tool, the manager of the task/activity/project can edit the task and set
            it shift-type entry to “” (empty), allowing people can pledge for it. If you do this,
            please make sure to mention in the description that this is for shifts which are not
            in the shift tool to avoid/minimise confusion for the users.
        </div>

        <h3 class="ui-accordion-header">
            How can I see all the new pledges for a given task in my project ?
        </h3>
        <div class="ui-accordion-content">
            Go to the page for all the pledges for the project, and then do a column-wise search
            for "new" in the Status column (in the corresponding search field at the bottom of
            the table). This will give all "new" pledges.

            That search can then be refined by adding a column-wise search, e.g. in the task name
            field, to restrict the table to only the new pledges for a given task.
        </div>

        <h3 class="faq-q ui-accordion-header">
            How can I delete a task (as Project Manager) ?
        </h3>
        <div class="faq-a ui-accordion-content">
            <p>
                First you have to 'reject' all pledges associated with the task, and set the amount
                of "neededWork" for the task to zero (this second step can only be done by a Project
                Manager). Then edit the task and you will find at the bottom a button to delete the
                task. Click and confirm on the pop-up window.

                If the delete button does not show up, you will see instead what is still wrong, either
                there are still active pledges, or the amount for "neededWork" is not yet zero.
            </p>
        </div>

<!-- template entry ...
        <h3 class="faq-q ui-accordion-header">

        </h3>
        <div class="faq-a ui-accordion-content">
            <p>

            </p>
        </div>
-->

    </div> <!-- end div accordion -->

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script type="text/javascript">

$(document).ready( function() {

    var hashId = 0;
    var $accordion = $('#accordion');
    if (window.location.hash) {
        $accordion.children('h3').each(function (i) {
            var txt = $(this).text().toLowerCase().replace(/\s+/g, '_');
            this.id = txt;
            if (txt === window.location.hash.slice(1)) {
                hashId = i;
            }
        });
    }

    $accordion.accordion({
        active: hashId,
        animate: false,
        heightStyle: 'content',
        collapsible: true,
        create: function (event, ui) {
            $accordion.children('h3').each(function (i) {
                $(this).before('<a class="accordion-link link" data-index="' + i + '" href="#' + this.id + '"></a>');
            });
            $accordion.find('.accordion-link').click(function () {
                $accordion.accordion("option", "active", $(this).data('index'));
            });
        },
    })
})

</script>

{% endblock %}
