{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}iCMS - EPR New {{ what }} {% if parent %} for {{ parent.name }} {% endif %} {% endblock %}

{% block page_content %}
<div class="brick padded page-header">
    <div class="profile-header">
        <h1>Creating New {{what}}
            {% if parent %} for {{ parent.name }} {% endif %}
            {% if grandParent %} of {{ grandParent.name }} {% endif %}
            in {{  year }}
        </h1>
    </div>
</div>


{% if tasks %}
<div class="brick padded">
    {% for t in tasks if t.id == form.taskId.data %}
    <div class="task-info">
        <ul>
            <li> Task name : {{ t.name }} </li>
            <li> Work needed: {{ t.neededWork }} </li>
            <li> % of work at CERN: {{ t.pctAtCERN }}</li>
            <li> Type of task: {{ t.tType }}</li>
            <li> Comment: {{ t.comment }}</li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="brick padded">
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
</div>

<div id="log">

</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">

$(document).ready(function() {

});
</script>

{% endblock %}
