{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style>
        #userId { display: hidden; }
        #instId { display: hidden; }
    </style>

{% endblock %}

{% block title %}iCMS - EPR New {{ what }} in {{ year }}{% endblock %}

{% block page_content %}

    <!-- {% if isCurrentInstMgr %}
        <div id="dialog-confirm" title="Really create pledge for {{ year }}?" class="confirm">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
              The pledge you are going to create is for {{ year }} - are you sure you want to continue ?
          </p>
        </div>
    {% endif %} -->

    <div class="page-header">
        <div class="profile-header">
            <h1>Creating New {{what}} in {{ year }}</h1>
        </div>
    </div>

    {% if targetTask %}
        <div class="brick padded task-info">
            <ul>
                <li> <b>Project/LV1  :</b> {{ proj.name }} </li>
                <li> <b>Activity/LV2 :</b> {{ act.name }} </li>
                <li> <b>LV3  :</b> {{ targetTask.level3 }} </li>
                <li> <b>Task     :</b> {{ targetTask.name }} </li>
                <li> <b>Work needed:</b> {{ targetTask.neededWork }} </li>
                <li> <b>% of work at CERN:</b> {{ targetTask.pctAtCERN }}</li>
                <li> <b>Type of task:</b> {{ targetTask.tType }}</li>
                <li> <b>Comment:</b> {{ targetTask.comment }}</li>
            </ul>
        </div>
    {% endif %}


    <div class="brick padded">
        <h4>User for pledge</h4>
    {% if canPledgeForUser %}
        <div id="chg-user-dialog-form" class="ui-front" title="Change user" hidden>
          <p class="validateTips">Start typing a few characters of the user's name or firstname, then click on the user in the list.</p>
          <form>
            <label for="userSel-0">Select User: </label>
            <input id="userSel-0" name="userSel-0" class="ui-widget-content ui-corner-all"/>

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </form>
        </div>

        <div id="chg-inst-dialog-form" class="ui-front" title="Change institute" hidden>
          <p class="validateTips">Start typing a few characters of the institute's name or code, then click on the institute in the list.</p>
          <form>
            <label for="instSel-1">Select the institute to which the pledge should be accounted: </label>
            <input id="instSel-1" name="instSel-1" class="text ui-widget-content ui-corner-all"/>

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </form>
        </div>
    {% endif %}

        <br /><br />
        <div class="col-md-6">              <!--  #relyOnSearchFormat  (though here we emulate it) -->
             <b>User:     </b>  <span id="userId-0">{{ '%s - %s (CERNid: %i)' % (selUser.name, selUserInst.code, selUser.hrId) }}</span>
        </div>
        {% if canPledgeForUser %}
            <div class="col-md-3">
                <button id="change-user"> Change user for pledge </button>
            </div>
        {% endif %}

        <div class="col-md-6">
             <b>Institute:</b>  <span id="instId-0">{{ selUserInst.code }}</span>
        </div>
        {% if canPledgeForUser %}
            <div class="col-md-3">
                <button id="change-inst"> Change institute for pledge </button>
            </div>
        {% endif %}
      <br /><br />

    </div> <!-- brick padded -->


    <div class="brick padded col-md-9">
        <form action="" method="post" name="newPledge" id="newPledge">
            {{ form.hidden_tag() }}

            <input type="hidden" id="userId" name="userId" value="" />
            <input type="hidden" id="instId" name="instId" value="" />
            <input type="hidden" id="tasks"  name="tasks"  value="{{ targetTask.code }}" />

          <p> {{ form.workTimePld.label }}  <em>(person-months) * Author/Team Leader/PM/CA inserts here the number of months to pledge)</em> <br/> {{ form.workTimePld }} </p>
          {% if form.workedSoFar %}  <p> {{ form.workedSoFar.label }} <em>(person-months) * Author/Team Leader/PM/CA insert here the total number of months done</em> <br/> {{ form.workedSoFar }} </p> {% endif %}
          {% if form.workTimeAcc %}  <p> {{ form.workTimeAcc.label }} <em>(person months) * PM/CA inserts here the number of months accepted (<= work pledge)</em> <br/> {{ form.workTimeAcc }} </p> {% endif %}
          {% if form.workTimeDone %} <p> {{ form.workTimeDone.label }} <em>(person-months) * PM/CA can insert the number of months eventually already worked</em> <br/> {{ form.workTimeDone }} </p> {% endif %}
          {% if form.status %}       <p> {{ form.status.label }} <em> * PM/CA can set it ** (new = new pledge; accepted = pledge accepted; done = work done)</em> <br/> {{ form.status }} </p> {% endif %}
            <p>
<!-- ap: as pledges for last year are not allowed any more for anyone (main/views.py:1200), there is no need for confirmation
            {% if isCurrentInstMgr %}
                <input type="submit" value="Submit" hidden>
                <button id="confirmPledge" name="confirmPledge" class="confirm" type="button">Submit</button>
            {%  else %}
                <input type="submit" value="Submit">
            {%  endif %}
-->
            <input type="submit" value="Submit">
            </p>
        </form>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}

    <script>
        $("#confirmPledge").confirm({
            text: "Really create this pledge for {{ year }} ?",
            confirm: function(button) {
                $('#newPledge').submit();
            },
            cancel: function(button) {
               location.href = '{{ url_for("main.index") }}';
            },
            confirmButton: "Yes, I really want to create this pledge for {{ year }}",
            cancelButton: "Cancel this - wrong year !",
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-info",
        });

    </script>


    <script language="JavaScript">
    $(function() {

        var dialogU, formU, dialogI, formI;
        var userId, instId;

        $( "#userSel-0" ).autocomplete( {
            autoFocus: true,
            minLength: 3,
            source: '{{ url_for("api.searchUsers") }}',
            select: function( event, ui ) {
                    userId = ui.item.value;
                    instId = getInstId( ui.item.value );
                  }
        } );

         $( "#instSel-1" ).autocomplete( {
            autoFocus: true,
            minLength: 3,
            source: '{{ url_for("api.searchInstCode") }}',
            select: function( event, ui ) {
                    instId = ui.item.value;
                  }
        } );

       function changeInst() {
            $("#instId-0").html( instId );
            $("#instId").val( instId );
            dialogI.dialog( "close" );
        }

        dialogI = $( "#chg-inst-dialog-form" ).show().dialog({
            autoOpen: false,
            height: 300,
            width: 600,
            modal: true,
            buttons: {
                "Confirm new Institute": changeInst,
                Cancel: function() {
                    dialogI.dialog( "close" );
                }
            },
            close: function() {
                formI[ 0 ].reset();
            }
        });

        formI = dialogI.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          changeInst();
        });

        $( "#change-inst" ).click( function() {
            dialogI.dialog( "open" );
        });

        function changeUser() {
            $("#userId-0").html( userId );
            $("#instId-0").html( instId );
            $("#userId").val( userId );
            $("#instId").val( instId );
            dialogU.dialog( "close" );
        }

        dialogU = $( "#chg-user-dialog-form" ).show().dialog({
            autoOpen: false,
            height: 300,
            width: 600,
            modal: true,
            buttons: {
                "Confirm new user": changeUser,
                Cancel: function() {
                    dialogU.dialog( "close" );
                }
            },
            close: function() {
                formU[ 0 ].reset();
            }
        });

        formU = dialogU.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          changeUser();
        });

        $( "#change-user" ).click( function() {
            dialogU.dialog( "open" );
        });

    });

    </script>

    <script language="JavaScript">

    $(document).ready(function() {

        {% if (isCurrentInstMgr==True) %}
            $("dialog-confirm").dialog("open");
        {% endif %}

        // update the fields in the form ....
        $("#userId").val( $("#userId-0").html() );
        $("#instId").val( $("#instId-0").html() );

        // clear the search field and set the focus to it:
        $('#userSel-0').val('');
        $('#userSel-0').focus();
        $('#instSel-1').val('');
        $('#instSel-1').focus();


    });
    </script>

{% endblock %}
