{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}


{% block title %}iCMS - EPR Update work done so far for Pledge {{ pledge.id }}{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="brick padded pledge-header">
        <h1> Info for pledge id {{ pledge.id }}</h1>
        <p>
            User: <span id="userId-0">{{ '%s - %s (CERNid: %i)' % (user.name, userInst.code, user.hrId) }}</span> <br />
            Institute: <span id="instId-0">{{ plInst.code }}</span>
                <br />
            Task: {{ pledge.taskId }} - {{ task.name }}  <br />
            Needed work: {{ task.neededWork}} (months) <br />
            Pledged work: {{ pledge.workTimePld }} (months) <br />
        </p>
        <p>
            Note: The field "Work done so far" is filled by the user and reflects the amount of work the user states to have done on the pledge.<br/>
            {% if canAdmin %}
            The field "Work done" is the amount of work which the project/activity/task manager certifies the user has done for the task.
            {% endif %}
        </p>
        <div class="pledge-footer">
            <div class="brick padded col-md-9">
                <form action="" method="post" name="newPledge">
                    {{ form.hidden_tag() }}

                    <input type="hidden" id="userId" name="userId" value="" />
                    <input type="hidden" id="instId" name="instId" value="" />

                  {% if form.workTimeAcc %}  <p> {{ form.workTimeAcc.label }} <br/> {{ form.workTimeAcc }} </p> {% endif %}
                  {% if form.workedSoFar %}  <p> {{ form.workedSoFar.label }} <br/> {{ form.workedSoFar }} </p> {% endif %}
                  {% if form.workTimeDone %} <p> {{ form.workTimeDone.label }} <br/> {{ form.workTimeDone }} </p> {% endif %}
                  {% if form.status %}       <p> {{ form.status.label }} <br/> {{ form.status }} </p> {% endif %}
                  <p><input type="submit" value="Submit"></p>
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>

{% endblock %}
