{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Reject Pledge for Institute Responsibility Task {{ task.name }} of {{ inst.code }} in {{ year }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="brick padded pledge-header">
        <h1> Reject pledge for Institute Responsibility Task {{ task.name }} of {{ inst.code }} in {{ year }}</h1>
        <p>
            Inst: {{ inst.code}} <br />
            Task: {{ task.name }} <br />
            Needed work for task: {{ task.neededWork}} (months) <br />
            Pledged work by {{ inst.code }}: {{ pledgeInfo.workTimePld }} (months) <br />
        </p>
        <div class="pledge-footer">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>

    </div>
</div>

{% endblock %}
