{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block title %}iCMS - EPR Select Project {% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="profile-header">
        <h1>iCMS - EPR Select Project ({{ year }})</h1>
    </div>
</div>

<div class="col-md-6">

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

</div>

<div id="log"></div>

<div id="hiddenform"></div>

{% endblock %}w

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


{% endblock %}
