{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
iCMS - EPR Project Statistics Overview in {{ year }}
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Project Statistics Overview in {{ year }}
    </h1>
</div>


<div id="events" hidden></div>


<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be
        combined with "AND". So if you look for a string in the Activity column, you can restrict the resulting rows to
        shifts by combining this search with a search for "shift" in the "Task Type" column.
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be
        exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the
        pop-up menu from there.
    </p>
</div>

<div name="tableButtons" id="tableButtons"></div>
<div class="brick huge padded">
<table id="projStatsTable" class="dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="4" class="left-border">Pledges are from</th>
            <th colspan="6" class="left-border">Registered for the project are</th>
            <th colspan="3" class="left-border">Work contribution all</th>
            <th colspan="3" class="left-border">Work contribution authors</th>
        </tr>
        <tr>
            <th></th>   <!-- col 1 for checkboxes -->
            <th>Project</th>
            <th class="left-border">Persons</th>
            <th>Authors</th>
            <th>Institutes</th>
            <th>Countries</th>
            <th class="left-border">Persons</th>
            <th>Authors</th>
            <th>Insts all</th>
            <th>Insts auth</th>
            <th>Countries all </th>
            <th>Countries auth</th>
            <th class="left-border">Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work+Shifts Done</th>
            <th class="left-border">Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work+Shifts Done</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th></th>   <!-- col 1 for checkboxes -->
            <th>Project</th>
            <th class="left-border">Persons</th>
            <th>Authors</th>
            <th>Institutes</th>
            <th>Countries</th>
            <th class="left-border">Persons</th>
            <th>Authors</th>
            <th>Institutes</th>
            <th>Countries</th>
            <th class="left-border">Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work+Shifts Done</th>
            <th class="left-border">Work Pledged</th>
            <th>Work Accepted</th>
            <th>Work+Shifts Done</th>
        </tr>
        <tr>
            <td></td>   <!-- col 1 for checkboxes -->
            <td>Project</td>
            <td class="left-border">Persons</td>
            <td>Authors</td>
            <td>Institutes</td>
            <td>Countries</td>
            <td class="left-border">Persons</td>
            <td>Authors</td>
            <td>Institutes</td>
            <td>Countries</td>
            <td class="left-border">Work Pledged</td>
            <td>Work Accepted</td>
            <td>Work+Shifts Done</td>
            <td class="left-border">Work Pledged</td>
            <td>Work Accepted</td>
            <td>Work+Shifts Done</td>
        </tr>
    </tfoot>
</table>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}

{#    <script language="JavaScript" src="/static/ShowMorePlugin.js"></script>#}

<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // column-wise search
    $('#projStatsTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    function getColour(val) {
        var col = '';
        if ( val == '-') {
            col = 'deeppink';
        } else if ( parseFloat(val) > 0.80  ) {
              col = 'lawngreen';
        } else if ( parseFloat(val) > 0.42 ) {
             col = 'orange';
        } else if ( parseFloat(val) > -0.1 ) {
            col = 'orangered';
        }
        return col;
    }

    $("#events").html("");

        {#getUAICInfo( "{{ url_for("api.projectUserInsts") }}", "{{ metaInfo.proj.id }}", {{ session['year'] }});#}
        {#getProjectCounts( "{{ url_for("api.projectCounts") }}", "{{ metaInfo.proj.id }}", {{ session['year'] }});#}
        {#getPrjWorkInfo( "{{ url_for("api.projectAuthWork") }}", "{{ metaInfo.proj.id }}", {{ session['year'] }});#}


    var start;
    var events = $("#events");
    var table = $("#projStatsTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),

        "footerCallback": function (row, data, start, end, display) {
            return footerSummary( row, data, start, end, display, this.api(), "projectTable", [12,13,14], [])
        },
        "ajax": {
            url : '{{ url_for("api.projStats") }}',
            data : {
                "year" : {{ session['year'] }} ,
                "proj"  : -1,
                } , // close opened "data" block
            method:"GET",
            "dataSrc": "data",
            beforeSend: function(xhr, settings) {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function(jqXHR, textStatus) {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            { targets : 0,
              orderable: false,
              className: 'select-checkbox'
            },
            { targets:1,
              className : "project-description",
              "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
            },
            { targets:[2,6,12,15],
              className : "left-border",
            },

            { // format the numbers to 2 decimals
              targets: [12,13,14,15,16,17], "render":
                    function ( data, type, row ) {
                             if ( jQuery.isNumeric(data) ) {
                                 return ' '+data.toFixed(2);
                             } else {
                                 console.log("Invalid data "+data+" found in row: " + row)
                                 return '-.0';
                             }
                    }
            },
        ],
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    setupColSearch(table);

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table,
                      buttonDivName : 'tableButtons',
                  } );
    table.draw();

    // not working, needs debugging ... later ...
    // addEvtListeners( 'projectTable', table, {{ year }} );

    // Add event listener for showing/hiding project description
    $('#projStatsTable tbody').on('click', 'td.project-description', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr ).data();
        var taskCode = row[23];
        var taskDesc = $(this).find("div#project-desc");
        if (taskDesc.html() == '') {
            // Assign handlers immediately after making the request,
            // and remember the jqXHR object for this request
            var jqxhr = $.ajax( {
                            url: '{{ url_for("api.projectByTaskCode") }}',
                            method : "POST",
                            data: { "year" : {{ session['year'] }} ,
                                    'code' : taskCode.replace('/','_') },
                         } )
              .done(function(data, textStatus, jqXHR) {
                  // console.log(data);
                  var mgrString = data.project.description+'<br/><b>'+data.numMgrs+' Managers:<br/>';
                  mgrString += '<a href="mailto:'+data.mgrEmails+'?Subject=Request%20for%20information">'+data.mgrs+'</a></b>'
                  taskDesc.html(mgrString).css("font-style", "italic").show();
              //  })
              // .fail(function() {
              //   alert( "error for "+taskCode );
              });
        }
        taskDesc.toggle();
    } );

});


</script>

{% endblock %}
