{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
iCMS - EPR Pledge Overview 
for {{ metaInfo.proj.name }} 
in {{ year }}
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Pledge Overview
        for {{ metaInfo.proj.name }}
        in {{ year }}
    </h1>
</div>

<div id="events" hidden></div>

<h2>Member Pledges in {{ year }}</h2>

    <div>
    <button id="showHideHelp" type='button' class="dt-button">Show Help</button>
    </div>

    <div id="info-help" hidden>
                        <p>
                            You can click on the text in the "Project", "Activity" and "Task name" columns to show the description (if
                            provided by the corresponding managers) and names of the corresponding (Project/Activity/Task) managers. In
                            case you want to contact them, simply click on the names, a pre-filled window with your mail client will open.
                        </p>
                        <p>
                            Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
                        </p>
                        <p>
                            At the bottom of the table you find fields to search in individual columns. Independent searches will be
                            combined with "AND". So if you look for a string in the Activity column, you can restrict the resulting rows to
                            shifts by combining this search with a search for "shift" in the "Task Type" column.
                        </p>
                        <p>
                            You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be
                            exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the
                            pop-up menu from there.
                        </p>
                    </div>

        <div id="noMemPldTableDiv" class="brick padded" hidden>
        No member/personal pledges found
        </div>

        <div id="MemPldTableDiv" hidden>

            <div name="tableButtons" id="tableButtons"></div>
            <div class="brick huge padded">
                <table id="projectTable" class="dataTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="7" class="left-border">Task</th>
                        <th colspan="11" class="left-border">Pledge</th>
                    </tr>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>Activity/LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th>edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Done/ Pledged</th>
                        <th>Status</th>                     <!-- col 18 -->
                        <th>Year</th>
                        <th>edit/update Pledge</th>
                        <th>reject Pledge</th>
                        <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                        <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>Activity/LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th>edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Done/ Pledged</th>
                        <th>Status</th>                     <!-- col 18 -->
                        <th>Year</th>
                        <th>edit/update Pledge</th>
                        <th>reject Pledge</th>
                        <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                        <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                    </tr>
                    <tr>
                        <td></td>   <!-- col 1 for checkboxes -->
                        <td>Project/LV1</td>
                        <td>Activity/LV2</td>
                        <td>LV3</td>
                        <td class="left-border">Task Name</td> <!-- col 5 -->
                        <td>Needed Work</td>
                        <td>Fraction Done</td>
                        <td>% of work at CERN</td>
                        <td>Type of task</td>
                        <td>Comment</td>
                        <td>edit Task</td>
                        <td class="left-border">User</td>    <!-- col 12 -->
                        <td>Institute for Pledge</td>
                        <td>Work Pledged</td>
                        <td>Work Accepted</td>
                        <td>Work Done</td>
                        <td>Done/ Pledged</td>
                        <td>Status</td>                      <!-- col 18 -->
                        <td>Year</td>
                        <td>edit/update Pledge</td>
                        <td>reject Pledge</td>
                        <td>PlegdeCode</td>           <!-- contains taskId, userId and instId -->
                        <td>FullTaskName</td>           <!-- contains taskId, userId and instId -->
                    </tr>
                </tfoot>
            </table>
            </div>
        </div> <!-- memPldTableDiv  -->

        {% if year  == 2016 %}
            <p>
                <em><b>Note: The summed values on the bottom do NOT take the factor of 0.25 for nonCore tasks into account !</b></em>
            </p>
            <hr />
        {% endif %}

        {% if year  > 2018 %}
            <h2>Pledges for Institute Responsibility Tasks in {{ year }}</h2>


            <div id="noInstRespTableDiv" class="brick padded" hidden>
            No pledges found as part of an Institute Responsibility Task
            </div>

            <div id="InstRespTableDiv" hidden>

            <div name="irpTableButtons" id="irpTableButtons"></div>

            <div class="brick huge padded">

                <table id="instRespPledges" class="dataTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th colspan="4"></th>
                            <th colspan="7">Task</th>
                            <th colspan="11">Pledge</th>
                        </tr>
                        <tr>
                            <th></th>   <!-- col 1 for checkboxes -->
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th>LV3</th>
                            <th class="left-border">Task Name</th> <!-- col 5 -->
                            <th>Needed Work</th>
                            <th>Fraction Done</th>
                            <th>% of work at CERN</th>
                            <th>Type of task</th>
                            <th>Comment</th>
                            <th>edit Task</th>
                            <th class="left-border" hidden>User</th>   <!-- col 12 -->
                            <th>Institute for Pledge</th>
                            <th>Work Pledged</th>
                            <th>Work Accepted</th>
                            <th>Work Done</th>
                            <th>Done/ Pledged</th>
                            <th>Status</th>                     <!-- col 18 -->
                            <th>edit/update Pledge</th>
                            <th>reject Pledge</th>
                            <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                            <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>   <!-- col 1 for checkboxes -->
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th>LV3</th>
                            <th class="left-border">Task Name</th> <!-- col 5 -->
                            <th>Needed Work</th>
                            <th>Fraction Done</th>
                            <th>% of work at CERN</th>
                            <th>Type of task</th>
                            <th>Comment</th>
                            <th>edit Task</th>
                            <th class="left-border" hidden>User</th>   <!--  col 12 -->
                            <th>Institute for Pledge</th>
                            <th>Work Pledged</th>
                            <th>Work Accepted</th>
                            <th>Work Done</th>
                            <th>Done/ Pledged</th>
                            <th>Status</th>                     <!-- col 18 -->
                            <th>edit/update Pledge</th>
                            <th>reject Pledge</th>
                            <th>PlegdeCode</th>           <!-- contains taskId, userId and instId -->
                            <th>FullTaskName</th>           <!-- contains taskId, userId and instId -->
                        </tr>
                        <tr>
                            <td></td>   <!-- col 1 for checkboxes -->
                            <td>Project/LV1</td>
                            <td>Activity/LV2</td>
                            <td>LV3</td>
                            <td class="left-border">Task Name</td> <!-- col 5 -->
                            <td>Needed Work</td>
                            <td>Fraction Done</td>
                            <td>% of work at CERN</td>
                            <td>Type of task</td>
                            <td>Comment</td>
                            <td>edit Task</td>
                            <td class="left-border" hidden>User</td>   <!-- col 12 -->
                            <td>Institute for Pledge</td>
                            <td>Work Pledged</td>
                            <td>Work Accepted</td>
                            <td>Work Done</td>
                            <td>Done/ Pledged</td>
                            <td>Status</td>                     <!-- col 18 -->
                            <td>edit/update Pledge</td>
                            <td>reject Pledge</td>
                            <td>PlegdeCode</td>           <!-- contains taskId, userId and instId -->
                            <td>FullTaskName</td>           <!-- contains taskId, userId and instId -->
                        </tr>
                    </tfoot>
                </table>
            </div> <!-- brick -->

            </div> <!-- InstRespTableDiv -->
        {% endif %} {# year > 2018 #}

<div id="dialog-mail-addrs" title="Mail addresses of pledgees for selected tasks" class="confirm" hidden>
      <textarea id="mail-addrs" name="mail-addrs" style="width: 100%;height: 100%"></textarea>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}

{#    <script language="JavaScript" src="/static/ShowMorePlugin.js"></script>#}

<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // set flag that for this kind of page (project view) we want to see the 
    // individual peoples pledges for IRtasks :
    var showIndividualIRTPledges = true;

    var canAdmin = false;
    {% if metaInfo.proj or current_user.is_administrator() %}
        var canAdmin = true;
    {% endif %}

    function columnWiseSearch () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    }

    function getColour(val) {
        var col = '';
        if ( val == '-') {
            col = 'deeppink';
        } else if ( parseFloat(val) > 0.80  ) {
              col = 'lawngreen';
        } else if ( parseFloat(val) > 0.42 ) {
             col = 'orange';
        } else if ( parseFloat(val) > -0.1 ) {
            col = 'orangered';
        }
        return col;
    }

    $("#events").html("");

    getUAICInfo( "{{ url_for("api.projectUserInsts") }}", "{{ metaInfo.proj.id }}", {{ session['year'] }});
    getProjectCounts( "{{ url_for("api.projectCounts") }}", "{{ metaInfo.proj.id }}", {{ session['year'] }});
    getPrjWorkInfo( "{{ url_for("api.projectAuthWork") }}", "{{ metaInfo.proj.id }}", {{ session['year'] }});

    var start;
    var events = $("#events");

    var ajaxInfo = {
        url : '{{ url_for("api.projectInfo") }}',
        data : {
            "year" : {{ session['year'] }} ,
            "proj"  : "{{ metaInfo.proj.id }}",
            "user" : "" , "allUsers" : true,
            "individualIRTPledges": showIndividualIRTPledges
            } // close opened "data" block
    }

    // column-wise search
    $('#projectTable tfoot th').each( function () {
        var title = $(this).text();
        var title = $(this).text();
        if (title.length <= 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );
    var pldTable = $("#projectTable").DataTable( projPldTableSetup(ajaxInfo, 'projectTable', 'MemPldTableDiv') );
    // add our buttons to the table and prepend them to the table:
    var aob = addOnButtonsPledges(canAdmin, pldTable);
    aob.push( [] )
    icmsEprButtons( { table: pldTable, 
                      buttonDivName : 'tableButtons',
                      addOnButtons : aob
                  } );
    setupColSearch(pldTable);
    pldTable.draw();

    // ----------------------------------------------------------------------------------------------

    {% if year  > 2018 %}
    var irpAjaxInfo = {
            url : '{{ url_for("api.instRespPledges") }}',
            data : {
                "year" : {{ session['year'] }},
                "projId"  : "{{ metaInfo.proj.id }}",
                } , // close opened "data" block
    };

    // $('#instRespPledges tfoot th').each( columnWiseSearch );

    // column-wise search
    $('#instRespPledges tfoot th').each( function () {
        var title = $(this).text();
        if (title.length <= 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    var irpTableInfo = instRespPldTableSetup( irpAjaxInfo, 'instRespPledges', 'InstRespTableDiv' );
    console.log("got irpTableInfo: ", irpTableInfo);
    var irpTable = $("#instRespPledges").DataTable( irpTableInfo );

    // console.log('pldTable: ', pldTable.columns());
    // console.log('irpTable: ', irpTable.columns())

    // irpTable.columns([9,16,17]).visible(true);

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons({
        table: irpTable,
        buttonDivName: 'irpTableButtons',
        addOnButtons : addOnButtonsPledges(canAdmin, irpTable)
    });
    irpTable.draw();
    setupColSearchIRPT(irpTable);
    {% endif %}
    // ----------------------------------------------------------------------------------------------

    // not working, needs debugging ... later ...
    // addEvtListeners( 'projectTable', table, {{ year }} );

});

</script>

{% endblock %}
