{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block title %}
    iCMS - EPR Authors by main project for institutes in {{ year }}
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
    iCMS - EPR Authors by main project for institutes in {{ year }}
    </h1>
</div>

<h4>
<a href="{{ url_for('main.showInstProjectAuthors') }}"> Transposed view </a>
</h4>

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<div id="events"></div>

<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND". So if you look for a string in the Activity column, you can restrict the resulting rows to shifts by combining this search with a search for "shift" in the "Task Type" column.
    </p>
</div>

<h3> Authors by main project and institute in {{ year }}</h3>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="authProjInstTable" class="dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th> </th>  <!-- col 1 -->
                <th>Project</th>
                   <th> nAuth all </th>
                {% for i in instCodes %}
                   <th> {{ i }} </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for p in projNames %}
                <tr>
                    <td>  </td> <!-- select checkbox -->
                    <td> {{ p }} </td>
                    <td>
                        {{ "%5.2f" % projInstSum[p] }}
                    </td>
                    {% for i in instCodes %}
                        {% if projInstMap[p][i] %}
                            <td>
                                {{ "%2.2f" % projInstMap[p][i] }}
                            </td>
                        {% else %}
                            <td> - </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th> </th>  <!-- col 1 -->
                <th>Project</th>
                <th> nAuth all </th>
                {% for i in instCodes %}
                   <td> <b> {{ i }} </b> </td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // column-wise search
    $('#authProjInstTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    var start;
    var events = $("#events");
    var table = $("#authProjInstTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),
        "columnDefs": [
            // add a first column with checkboxes
            { targets : 0,
              orderable: false,
              className: 'select-checkbox'
            },
        ],
        "order": [ [1, 'asc'] ],
        select : {
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    setupColSearch(table);

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table, buttonDivName : 'tableButtons', addOnButtons : [] } );
    table.draw();



});
</script>

{% endblock %}
