{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR task {{ task.name }}{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="task-header">
        <h1>Task: {{ task.description|safe }}</h1>
        <p>
            <b>Activity id:</b>  {{ task.activityId }} <br />
            <b>Description:</b> {{ task.description|safe }} <br />
            <b>Needed Work:</b> {{ task.neededWork }} (months)<br />
            <b>Percentage Done:</b> {{ taskPctDone }} % <br />
            <br />
            <b>Kind:</b> {{ task.kind }} <br />
            <b>Locked:</b> {{ task.locked  }} <br />
        </p>
        <p>
            <form action="{{ url_for('main.showTask', code=task.code) }}" >
            <button id="editTask" type="submit" class="warning">Show Task Overview</button>
            </form>

        </p>
        {% if isAdmin %}
        <div class="brick padded task-edit" class="hidden">
            <p>
                <h3>Edit task:</h3>
                <div class="col-md-6">

                    <form action="" method="post" name="editTask">
                        {{ form.hidden_tag() }}

                        <div class="form-group  required"> {{ form.name.label        }} <br /> {{ form.name }} </div>
                        <div class="form-group  required"> {{ form.description.label }} <br /> {{ form.description }} </div>
                        {% if form.neededWork %}
                            <div class="form-group  required"> {{ form.neededWork.label  }} <br /> {{ form.neededWork }} </div>
                        {% endif %}
                        <div class="form-group  required"> {{ form.pctAtCERN.label   }} <br /> {{ form.pctAtCERN }} </div>
                        <div class="form-group  required"> {{ form.tType.label       }} <br /> {{ form.tType }} </div>
                        {% if form.shiftTypeId %}
                            <div class="form-group  required"> {{ form.shiftTypeId.label }} <br /> {{ form.shiftTypeId }} </div>
                        {% endif %}
                        <div class="form-group  required"> {{ form.locked.label      }}        {{ form.locked }} </div>
                        {% if form.kind%}
                            <div class="form-group  required"> {{ form.kind.label        }} <br /> {{ form.kind }} </div>
                        {% endif %}
                        <div class="form-group  required"> {{ form.comment.label     }} <br /> {{ form.comment }} </div>
                        <br />
                        <span>
                            <br />
                            <input type="submit" name="subCan" value="Submit">
                            <input type="submit" name="subCan" value="Cancel">
                            <br />
                        </span>
                        <div class="form-group  required">
                            {% if activePledges|length == 0 and task.neededWork == 0 %}
                                <button id="deleteConfirm" class="confirm btn-danger" type="button">Delete Task</button>
                            {% else %}
                                <div >Note: You can delete this task once all of the following criteria are fulfilled: <br />
                                - number of non-rejected Pledges is zero (presently {{ activePledges|length }} ) <br />
                                - work needed for this task is zero (presenlty {{ task.neededWork }} ) <br />
                                </div>
                            {% endif %}
                            <br />
                        </div>
                    </form>

                </div>
            </p>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}


<script>
$(document).ready(function()
{
    $("div.form-group").find("label").addClass("control-label");
    $("div.form-group").find("textarea").addClass("form-control");
    $("div.form-group").find("select").addClass("form-control");
    $("div.form-group").find("input").addClass("form-control");
});

// from: https://myclabs.github.io/jquery.confirm/
/*
$("#submit").confirm({
    post:true,
    confirm: function(button) {
        submit();
    }
    });
*/

$("#deleteConfirm").confirm({
    text: "Really OK to delete task '{{ task.name }}' ?",
    confirm: function(button) {
{#        alert("You just confirmed."); #}
            var jqxhr = $.ajax( {
                url: '{{ url_for("api.deleteTask") }}',
                method : 'POST',
                data: {
                    "year" : '{{ session['year'] }}',
                    "taskCode" : "{{ task.code }}",
                    "target" : "{{ target }}",
                    },
                })
                .done( function(data, textStatus, jqXHR) {
                    alert (data.responseJSON.status)
                })
                .fail( function(data, textStatus, jqXHR) {
                    alert (data.responseJSON.status)
                });
    },
    cancel: function(button) {
        alert("Task NOT deleted.");
    },
    confirmButton: "Yes, delete",
    cancelButton: "Nope, abort abort!",
    confirmButtonClass: "btn-danger",
    cancelButtonClass: "btn-info",
});

</script>

{% endblock %}
